.movie__list {
  padding: 0 3rem 3rem 3rem;
  background-color: var(--black);
}

.list__title {
  font-size: 1.75rem;
  padding: 2.5rem;
}

.list__cards {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
}
@media (max-width:468px) {
    .movie__list{
      padding: 0;
    }
    .list__cards{
      padding: 5px;
    }
}